#authorProfile {
  background: black;
}

#introduction {
  color: black;
}

#paddedFooter {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background: black;
}

#rhed {
  color: #ff0000;
}

#yello {
  color: #ffcc00;
}

.container-wide {
  margin: 0 auto;
  width: 100%;
}

.fa-rocket {
  color: #1ec503;
}

.navbar {
  background: black;
  font-family: "Inconsolata", Georgia, Serif;
  color: #1ec503;
}

.thumbnail img{
    width: 50%;
    height: auto;
    display: block;
    border-color: black;
    border-width: medium;
}
